body{
    display: flex;
    justify-content: center;
    background-color: rgb(226, 245, 238);
}
main {
    background-color: rgb(193, 241, 225);
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
    width: 60%;
    height: 65vh;
}
.botoes{
    background-color: rgb(119, 223, 188);
    padding: 15px;
    border-radius: 20px;
    width: 35.2%;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
h1{
    background-color: rgb(60, 199, 152);
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h3{
    background-color: rgb(135, 226, 196);
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}